{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  /* Custom CSS */
  body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }

  .fullscreen-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-header {
    margin-bottom: 30px;
    text-align: center;
  }
</style>
<div class="fullscreen-container">
  <div class="container">
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <p class="card-text"><strong>Name:</strong> {{user.username}}</p>
            <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
            <p class="card-text"><strong>Balance:</strong> {{bot.balans}}</p>
            <p class="card-text"><strong>Telegram ID:</strong> {{bot.telegram_admin}}</p>
            <p class="card-text"><strong>Bot Token:</strong>{{bot.bot_token}}</p>
            <a href="#" class="btn btn-danger">You can not edit for now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Another card or content here -->
      </div>
    </div>
  </div>
</div>

{% endblock content %}