{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
<!-- Add syntax highlighting script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<div class="page-content py-5">
	<div class="container-fluid">
		<ul class="features-tab nav nav-pills justify-content-center" id="features-tab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="feature-tab-1" data-bs-toggle="tab" href="" role="tab"
					aria-controls="feature-1" aria-selected="true"><i
						class="fas fa-shapes me-2 d-none d-lg-inline-block"></i><span>Using<small
							class="d-none d-lg-inline font-weight-normal">(Test)</small></span></a>
			</li>

		</ul>
	</div><!--//container-fluid-->
	<div class="container">
		<div class="features-tab-content tab-content" id="features-tab-content">
			<div class="feature-1-pane tab-pane fade show active py-5" id="feature-1" role="tabpanel"
				aria-labelledby="feature-tab-1">

				<div class="zigzag-layout">

					{% for doc in docs %}
					<div class="item py-5 mb-5">
						<div class="row">
							<div class="col-12 col-md-5 mb-5 mb-md-0">
								<div class="content pr-md-5">
									<h3 class="heading">{{doc.title}}</h3>
									<div class="desc">
										<p>{{doc.text_1}}</p>
										<p>{{doc.text_2}}
										</p>

										<div class="tech-icons mb-3">
											<i class="fab fa-telegram me-2"></i>
											<i class="fab fa-windows me-2"></i>

										</div><!--//tech-icons-->
										{% if doc.program %}
										<div class="cta-link"><a class="btn btn-light" href="{{doc.program.url}}"
												download>Download the Program<i
													class="	fas fa-cloud-download-alt ms-2"></i></a>
										</div>
										{% endif %}
									</div><!--//desc-->

								</div><!--//content-->
							</div><!--//col-->
							<div class="col-12 col-md-6 ms-lg-auto">
								<div class="content-figure">
									<div class="ratio ratio-16x9">
										<iframe src="{{doc.video_url}}" frameborder="0"
											allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>
									</div>
								</div><!--//content-->
							</div><!--//col-->
						</div><!--//row-->
					</div><!--//item-->
					{% endfor %}
				</div><!--//row-->
			</div><!--//feature-1-pane-->
			<!DOCTYPE html>
			<!-- Add syntax highlighting style sheet -->

			<style>
				.sbody {
					font-family: Arial, Helvetica, sans-serif;
				}

				.sbody h1 {
					text-align: center;
					margin-top: 50px;
				}

				.sbody .item {}

				.sbody pre {
					background-color: #F5F7FA;
					padding: 10px;
					border-radius: 5px;
					overflow: auto;
				}
			</style>

			<div class="sbody">
				<h1>Commands documentation to use</h1>

				{% for i in commands %}
				<div class="item">
					<h2>{{i.title}}</h2>
					<p>{{i.text}}</p>
					<div id="copy"
						onclick="navigator.clipboard.writeText(this.innerText);this.setAttribute('class','ani')">
						<pre><code class="bat">{{i.command}}</code></pre>

					</div>
				</div>
				{% endfor %}
			</div>

		</div>
	</div><!--//container-->
</div><!--//page-content-->
{% endblock content %}